* {
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

#chart {
  margin-bottom: 50px;
}

#measurement-list {
  margin-left: 140px;
  margin-bottom: 40px;
}

#measurement-form {
  margin-left: 140px;
  margin-bottom: 80px;
}

/* Chart */
.tick line {
  stroke: #888;
}

.tick:first-of-type line {
  stroke: #000;
}

.area {
  fill: lightblue;
  stroke-width: 0;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: pink;
  border: 0px;
  border-radius: 8px;
}