* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Helvetica", sans-serif;
  color: #333;
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

#chart {
  margin-bottom: 50px;
}

#measurement-list {
  margin-left: 140px;
  margin-bottom: 40px;
  display: none;
}

#measurement-form {
  margin-left: 140px;
  margin-bottom: 80px;
}

#measurement-form input[type="date"], #measurement-form input[type="number"] {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  margin-bottom: 12px;
  height: 18px;
  border-radius: 6px;
  box-shadow: none;
}

#measurement-form input[type="submit"] {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 32px;
  margin-bottom: 12px;
  height: 42px;
  border-radius: 6px;
  box-shadow: none;
  cursor: pointer;
}

/* Chart */
.tick line {
  stroke: #888;
}

.tick text {
  fill: #444;
}

.area {
  fill: #3498DB;
  stroke-width: 0;
  opacity: 0.5;
}

.tooltip {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 90px;
  height: 60px;
  padding: 2px;
  padding-top: 7px;
  padding-bottom: 9px;
  font: 12px sans-serif;
  background: #2980B9;
  border: 0px;
  border-radius: 8px;
}

.tooltip p {
  margin-bottom: 12px;
}

.edit {
  background: #fff;
  color: #000;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}