* {
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

#measurement-list {
  margin-left: 140px;
  margin-bottom: 40px;
}

#measurement-form {
  margin-left: 140px;
  margin-bottom: 80px;
}